<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DHTML</title>
        <link rel="icon" type="image/x-icon" href="../img/DHTML.png">
        <link rel="stylesheet" href="../css/stayle.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- NAVBAR -->
        <div id="nav-placeholder"></div>

         <!-- BANNER -->
        <section class="banner">
            <h1>about us</h1>
        </section>
        <!-- ABOUT -->
        <section>
            <div class="section-wrep about reveal fade-left">
                <div class="section-title">
                    <h3 class="uppercase">ABOUT OUR AGENCY</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Commodi voluptatibus cum architecto quibusdam optio quae
                        dignissimos, aliquid velit accusantium delectus, maxime
                        quas
                        necessitatibus! Deleniti voluptatum quibusdam ipsam
                        sequi
                        consequuntur sed?</p>
                </div>

                <div class="card-wrep">
                    <div class="card">
                        <div class="img-zoom">
                            <img class="greyscale"
                                src="../img/who-are-we.jpg"
                                alt>
                        </div>

                        <div class="card-body">
                            <h5>who are we</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Ipsa voluptas vero natus dolorem
                                accusantium
                                nulla voluptatibus at fuga alias quo pariatur
                                voluptatum recusandae non eius odio, autem,
                                dolor
                                commodi et?</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-zoom">
                            <img class="greyscale"
                                src="../img/our-mission.jpg"
                                alt>
                        </div>
                        <div class="card-body">
                            <h5>our mission</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Ipsa voluptas vero natus dolorem
                                accusantium
                                nulla voluptatibus at fuga alias quo pariatur
                                voluptatum recusandae non eius odio, autem,
                                dolor
                                commodi et?</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-zoom">
                            <img class="greyscale"
                                src="../img/our-vision.jpg"
                                alt>
                        </div>
                        <div class="card-body">
                            <h5>our vision</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Ipsa voluptas vero natus dolorem
                                accusantium
                                nulla voluptatibus at fuga alias quo pariatur
                                voluptatum recusandae non eius odio, autem,
                                dolor
                                commodi et?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sectoion-150px parallax-bg">
            <h3 class="uppercase">SEE HOW WE WORK TO CREATE EVERYTHING
                UNIQUE</h3>
        </section>

        <!-- ABOUT -->
        <section>
            <div class="section-wrep about reveal fade-right">
                <div class="section-title">
                    <h3 class="uppercase">our awesome minds
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Commodi voluptatibus cum architecto quibusdam optio quae
                        dignissimos, aliquid velit accusantium delectus, maxime
                        quas
                        necessitatibus! Deleniti voluptatum quibusdam ipsam
                        sequi
                        consequuntur sed?</p>
                </div>

                <div class="card-wrep">
                    <div class="card">
                        <div class="img-zoom">
                            <img
                                src="../img/designer-life-concept-illustration.jpg"
                                class="greyscale"
                                alt>
                        </div>

                        <div class="card-body">
                            <p class="uppercase">Sharon Brown</p>
                            <p class="uppercase">designer</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-zoom">
                            <img
                                src="../img/programming-concept-illustration.jpg"
                                class="greyscale"
                                alt>
                        </div>
                        <div class="card-body">
                            <p class="uppercase">Neil Ashby</p>
                            <p class="uppercase">developer</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-zoom">
                            <img
                                src="../img/construction-concept-illustration.jpg"
                                class="greyscale"
                                alt>
                        </div>
                        <div class="card-body">
                            <p class="uppercase">Garry Martin</p>
                            <p class="uppercase">web designer</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- FOOTER -->
        <div id="footer-placeholder"></div>
    </body>
    <script src="../js/script.js"></script>

</html>