<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DHTML</title>
        <link rel="icon" type="image/x-icon" href="../img/DHTML.png">
        <link rel="stylesheet" href="../css/stayle.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- NAVBAR -->
        <div id="nav-placeholder"></div>

         <!-- BANNER -->
        <section class="banner">
            <h1>contact us</h1>
        </section>

        <!-- ABOUT -->
        <section>
            <div class="section-wrep reveal fade-left">
                <div class="section-title">
                    <h3 class="uppercase">contact us</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Commodi voluptatibus cum architecto quibusdam optio quae
                        dignissimos, aliquid velit accusantium delectus, maxime
                        quas
                        necessitatibus! Deleniti voluptatum quibusdam ipsam
                        sequi
                        consequuntur sed?</p>
                </div>
                <div class="row">
                    <div class="col-30">
                        <h3 class="uppercase allign-left">get in touch</h3>

                        <div class="touch-item">

                            <i class="fa fa-map-marker"
                                aria-hidden="true"></i>

                            <div class="text">
                                <h4 class="uppercase">address</h4>
                                <p>154 Bezimena ulica</p>
                                <p>Slavonski brod, Hrvatsa</p>
                            </div>
                        </div>

                        <div class="touch-item">

                            <i class="fa fa-mobile" aria-hidden="true"></i>

                            <div class="text">
                                <h4 class="uppercase">call us</h4>
                                <p>154 Bezimena ulica</p>
                                <p>Slavonski brod, Hrvatsa</p>
                            </div>
                        </div>

                        <div class="touch-item">

                            <i class="fa fa-envelope-o" aria-hidden="true"></i>

                            <div class="text">
                                <h4 class="uppercase">e-mail</h4>
                                <p>154 Bezimena ulica</p>
                                <p>Slavonski brod, Hrvatsa</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-70">
                        <form id="form">
                            <div>
                                <input type="text" name="name" id="name"
                                    placeholder="Your Name" required>
                                <input type="text" name="email" id="email"
                                    placeholder="Your Email">
                                <input type="text" name="phone" id="phone"
                                    placeholder="Your Phone">
                                <input type="text" name="subject" id="subject"
                                    placeholder="Your Subject">
                            </div>

                            <textarea placeholder="Your Message" id="message"
                                cols="50"></textarea>
                            
                    
                                
                            <button type="button" onclick="saveFile()"
                                class="float-left">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </section>

        <!-- FOOTER -->
        <div id="footer-placeholder"></div>
    </body>
    <script src="../js/script.js"></script>
    <script src="../js/form.js"></script>
</html>