<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DHTML</title>
        <link rel="icon" type="image/x-icon" href="../img/DHTML.png">
        <link rel="stylesheet" href="../css/stayle.css">
        <link rel="stylesheet" href="../css/testemonial.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
         <!-- NAVBAR -->
        <div id="nav-placeholder"></div>

         <!-- BANNER -->
        <section class="banner">
            <h1>our services</h1>
        </section>
        
        <!-- SERVICES -->
        <section>
            <div class="section-wrep services reveal fade-right">
                <div class="section-title">
                    <h3 class="uppercase">SERVICES WHAT WE PROVIDE</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Iusto rem eaque officiis dolores ex.</p>
                </div>

                <div class="card-wrep">
                    <div class="card">
                        <img
                            src="../img/brush-svgrepo-com.svg"
                            alt>
                        <div class="card-body">
                            <h5>web designig</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Iusto rem eaque officiis
                                dolores ex.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img
                            src="../img/com-laptop-code-svgrepo-com.svg"
                            alt>
                        <div class="card-body">
                            <h5>web development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Iusto rem eaque officiis
                                dolores ex.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img
                            src="../img/t-shirt-svgrepo-com.svg"
                            alt>
                        <div class="card-body">
                            <h5>brending</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Iusto rem eaque officiis
                                dolores ex.</p>
                        </div>
                    </div>
                </div>
                <div class="card-wrep">
                    <div class="card">
                        <img
                            src="../img/photo-camera-svgrepo-com.svg"
                            alt>
                        <div class="card-body">
                            <h5>photography</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Iusto rem eaque officiis
                                dolores ex.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img
                            src="../img/presentation-svgrepo-com.svg"
                            alt>
                        <div class="card-body">
                            <h5>digital marketing</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Iusto rem eaque officiis
                                dolores ex.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img
                            src="../img/chart-pie-svgrepo-com.svg"
                            alt>
                        <div class="card-body">
                            <h5>web analytics</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Iusto rem eaque officiis
                                dolores ex.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- WORKS -->
        <section>
            <div class="section-wrep about reveal fade-left">
                <div class="section-title">
                    <h3 class="uppercase">ABOUT OUR AGENCY</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Commodi voluptatibus cum architecto quibusdam optio quae
                        dignissimos, aliquid velit accusantium delectus, maxime
                        quas
                        necessitatibus! Deleniti voluptatum quibusdam ipsam
                        sequi
                        consequuntur sed?</p>
                </div>

                <div class="card-wrep">
                    <div class="card">
                        <div class="img-zoom">
                            <img class="greyscale"
                                src="../img/who-are-we.jpg"
                                alt>
                        </div>

                        <div class="card-body">
                            <h5>who are we</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Ipsa voluptas vero natus dolorem
                                accusantium
                                nulla voluptatibus at fuga alias quo pariatur
                                voluptatum recusandae non eius odio, autem,
                                dolor
                                commodi et?</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-zoom">
                            <img class="greyscale"
                                src="../img/our-mission.jpg"
                                alt>
                        </div>
                        <div class="card-body">
                            <h5>our mission</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Ipsa voluptas vero natus dolorem
                                accusantium
                                nulla voluptatibus at fuga alias quo pariatur
                                voluptatum recusandae non eius odio, autem,
                                dolor
                                commodi et?</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-zoom">
                            <img class="greyscale"
                                src="../img/our-vision.jpg"
                                alt>
                        </div>
                        <div class="card-body">
                            <h5>our vision</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur
                                adipisicing
                                elit. Ipsa voluptas vero natus dolorem
                                accusantium
                                nulla voluptatibus at fuga alias quo pariatur
                                voluptatum recusandae non eius odio, autem,
                                dolor
                                commodi et?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PRICING -->
        <section>
            <div class="section-wrep services reveal fade-right">
                <div class="section-title">
                    <h3 class="uppercase">our basic pricing plans</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Magni libero vitae quam, eum eos necessitatibus ad, quis
                        hic aut architecto ipsam nam consequatur rem odio
                        accusantium veritatis, ipsum in accusamus.</p>
                </div>

                <div class="price-wrep">

                    <div class="price">
                        <div class="price-title">
                            <img src="../img/standard.png" alt>
                            <h4 class="uppercase">standard</h4>
                        </div>
                        <div class="price-body">

                            <p>$50</p>
                            <p class="uppercase">per mouth</p>
                            <ul>
                                <li>Psd To WordPress</li>
                                <li>Free Hosting</li>
                                <li>24/7 Support</li>
                                <li>Unique Design</li>
                                <li>Different Elements</li>
                                <li>Elegant Layout</li>
                            </ul>
                            <button>sign in</button>
                        </div>

                    </div>
                    <div class="price">
                        <div class="price-title">
                            <img src="../img/business.png" alt>
                            <h4 class="uppercase">business</h4>
                        </div>
                        <div class="price-body">

                            <p>$100</p>
                            <p class="uppercase">per mouth</p>
                            <ul>
                                <li>Psd To WordPress</li>
                                <li>Free Hosting</li>
                                <li>24/7 Support</li>
                                <li>Unique Design</li>
                                <li>Different Elements</li>
                                <li>Elegant Layout</li>
                            </ul>
                            <button>sign in</button>
                        </div>

                    </div>
                    <div class="price">
                        <div class="price-title">
                            <img src="../img/unlimited.png" alt>
                            <h4 class="uppercase">unlimited</h4>
                        </div>
                        <div class="price-body">

                            <p>$150</p>
                            <p class="uppercase">per mouth</p>
                            <ul>
                                <li>Psd To WordPress</li>
                                <li>Free Hosting</li>
                                <li>24/7 Support</li>
                                <li>Unique Design</li>
                                <li>Different Elements</li>
                                <li>Elegant Layout</li>
                            </ul>
                            <button>sign in</button>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- TESTEMONIAL -->
        <section class=" parallax-bg testemonial">
            <div class="mySlides">
                <img src="../img/avataqr-1.jpg" alt="" srcset="">
                <h4 class="uppercase">Dante Doherty</h4>
                <p class="uppercase">Osijek, Croatia</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet a perspiciatis tempora magnam animi omnis corrupti minima labore possimus. Aut dolorem ipsum atque quae, totam doloremque placeat. Labore, accusantium doloremque.</p>
            </div>
            <div class="mySlides">
                <img src="../img/avataqr-2.jpg" alt="" srcset="">
                <h4 class="uppercase">Sami Olsen</h4>
                <p class="uppercase">Rijeka, Croatia</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi nihil laborum rem molestiae praesentium, facilis culpa aperiam voluptate iste nesciunt laboriosam suscipit excepturi rerum magni tenetur pariatur quaerat voluptatum! Amet?</p>
            </div>
            <div class="mySlides">
                <img src="../img/avataqr-3.jpg" alt="" srcset="">
                <h4 class="uppercase">Layton Hall</h4>
                <p class="uppercase">Zagreb, Croatia</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni est, fuga debitis natus suscipit maiores qui eius! Repellat pariatur voluptatum inventore atque et dolorum, est voluptates soluta ex, aperiam quo!</p>
            </div>
            <div class="mySlides">
                <img src="../img/avataqr-4.jpg" alt="" srcset="">
                <h4 class="uppercase">Yasmin Wilkerson</h4>
                <p class="uppercase">Slavonski Brod, Croatia</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, vero delectus. Fuga aut aliquam eos minima at dolorum, quibusdam voluptas est voluptatibus sapiente expedita excepturi numquam ex ut alias deleniti?</p>
            </div>

            <button onclick="plusDivs(-1)">&#10094;</button>
            <button onclick="plusDivs(1)">&#10095;</button>

        </section>

        <!-- CLISENTS -->
        <section class="clients reveal fade-left">
            <ul>
                <li><img src="../img/hipstero.png" alt></li>
                <li><img src="../img/premium-product.png" alt></li>
                <li><img src="../img/quality.png" alt></li>
                <li><img src="../img/retrodesign.png" alt></li>
                <li><img src="../img/premium.png" alt></li>
                <li><img src="../img/highest-quality.png" alt></li>
            </ul>
        </section>

        <!-- FOOTER -->
        <div id="footer-placeholder"></div>

    </body>
    <script src="../js/script.js"></script>
    <script src="../js/testimonial.js"></script>

</html>