<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DHTML</title>
        <link rel="icon" type="image/x-icon" href="../img/DHTML.png">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../css/stayle.css">

    </head>

    <body>

        <!-- NAVBAR -->
        <div id="nav-placeholder"></div>

        <!-- BANNER -->
        <section class="banner">
            <h1 class="uppercase">works</h1>
        </section>

        <!-- WORKS -->
        <section>
            <div class="section-wrep works reveal fade-left">
                <div class="section-title">
                    <h3 class="uppercase">our lates work</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Commodi voluptatibus cum architecto quibusdam optio quae
                        dignissimos, aliquid velit accusantium delectus, maxime
                        quas
                        necessitatibus! Deleniti voluptatum quibusdam ipsam
                        sequi
                        consequuntur sed?</p>
                </div>
                <div class="works-wrep">
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-1.jpg"
                            alt>
                    </div>
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-2.jpg"
                            alt>
                    </div>
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-3.jpg"
                            alt>
                    </div>
                </div>
                <div class="works-wrep hide">
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-4.jpg"
                            alt>
                    </div>
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-5.jpg"
                            alt>
                    </div>
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-6.jpg"
                            alt>
                    </div>
                </div>
                <div class="works-wrep hide">
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-7.jpg"
                            alt>
                    </div>
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-8.jpg"
                            alt>
                    </div>
                    <div class="img-zoom">
                        <img class="greyscale"
                            src="../img/work-9.jpg"
                            alt>
                    </div>

                </div>
                <div id="toHide">
                    <button id="toHide" class="button" onclick="showAll()">view
                        all works</button>
                </div>
            </div>

        </section>

        <section class="sectoion-150px parallax-bg">
            <h3 class="uppercase">Do you want to discuss with us?</h3>
            <a class="button" href="./components/works.html">contacu us</a>
        </section>

        <!-- CLISENTS -->
        <section class="clients reveal fade-right">
            <ul>
                <li><img src="../img/hipstero.png" alt></li>
                <li><img src="../img/premium-product.png" alt></li>
                <li><img src="../img/quality.png" alt></li>
                <li><img src="../img/retrodesign.png" alt></li>
                <li><img src="../img/premium.png" alt></li>
                <li><img src="../img/highest-quality.png" alt></li>
            </ul>
        </section>

        <div id="footer-placeholder"></div>

    </body>

    <script src="../js/script.js"></script>

</html>